<!DOCTYPE html>
  <style> table {style="border-width:1px;border-color:black} </style>
   <table border="1">
   <tr><th>ID</th><th>Title</th><th>Short Description</th><th>Category 1</th><th>HTML</th><th>Markdown</th><th>Delete</th></tr>
<%
#@dita = Dita.all(:order => :id.desc)
#id_val = 2
@dita = Dita.all(:category1 => @cat, :order => :id.asc)
@dita.each do |var|
%>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="jQuery-TE_v.1.4.0/jquery-te-1.4.0.min.js" charset="utf-8"></script>


   <tr>
    <% if var.category1 =~/form/ %>
   <td><a href="/display?id_val=<%= var.id %>"><%= var.id %></a></td>
   <% else %>
   <td><a href="/display_entry?id_val=<%= var.id %>"><%= var.id %></a></td>
   <% end %>
   <td><%= var.title %></td>
   <td><%= var.short_desc %></td>
   <td><%= var.category1 %></td>
   <td><a href="/edit_entry?id_val=<%= var.id %>">edit</a></td>
   <td><a href="/edit_entry1?id_val=<%= var.id %>">md_edit</a></td>
   <td><a href="/delete_confirm?id_val=<%= var.id %>">delete</a></td>
   </tr>
    
  <!--
  <form action="/form2_out" name="<%= var.form_name %>" method="post">
 
  <input type="hidden" name="id_val" value="<%= @id_val %>" />
 

 <table>  
 <tr><td>Form name:</td><td><input type="text" name="form_name" value="<%= var.form_name %>"/></td></tr>
 <tr><td>Title:</td><td><input type="text" name="title" value="<%= var.title %>"/></td></tr>
 <tr><td>Short Description:</td><td><input type="text" name="short_desc" value="<%= var.short_desc %>"/></td></tr>
 <tr><td>text1:</td><td><input type="text" name="text1" value="<%= var.text1 %>" /></td></tr>
 <tr><td>text1n:</td><td><input type="text" name="text1n" value="<%= var.text1n %>" /></td></tr>
 <tr><td>text2:</td><td><input type="text" name="text2" value="<%= var.text2 %>" /></td></tr>
 <tr><td>text2n:</td><td><input type="text" name="text2n" value="<%= var.text2n %>" /></td></tr>
 <tr><td>text3:</td><td><input type="text" name="text3" value="<%= var.text3 %>" /></td></tr>
  <tr><td>text3n:</td><td><input type="text" name="text3n" value="<%= var.text3n %>" /></td></tr>
 <tr><td>text4:</td><td><input type="text" name="text4" value="<%= var.text4 %>" /></td></tr>
 <tr><td>text4n:</td><td><input type="text" name="text4n" value="<%= var.text4n %>" /></td></tr>
 <tr><td>text5:</td><td><input type="text" name="text5" value="<%= var.text5 %>" /></td></tr>
 <tr><td>text5n:</td><td><input type="text" name="text5n" value="<%= var.text5n %>" /></td></tr>

 
 <tr><td>file1:</td><td><input type="file" name="file1" value="<%= var.file1 %>" /></td></tr>
 <tr><td>file1n:</td><td><input type="text" name="file1n" value="<%= var.file1n %>" /></td></tr>
<tr><td>file2:</td><td><input type="file" name="file2" value="<%= var.file2 %>" /></td></tr>
 <tr><td>file2n:</td><td><input type="text" name="file2n" value="<%= var.file2n %>" /></td></tr>
 
 <tr><td>  Category 1:</td><td>
<select name="category1" >
  <option value="<%= var.category1 %>"><%= var.category1 %></option>
  <option value="form">Form</option>
  <option value="athlete">Favorite Atheletes</option>
  <option value="movies">Favorite Movies</option>
</select> 
</td></tr>
<tr><td>
Category 2:</td><td>
<select name="category2" >
  <option value="<%= var.category2 %>"><%= var.category2 %></option>
  <option value="inactive">Inactive</option>
  <option value="front">Promote to front</option>
</select>
</td></tr>
 </table>
  
 
  
   </form>
   -->
<%  end %>
</table>







