<!DOCTYPE html>
<%
#@dita = Dita.all(:order => :id.desc)
#id_val = 2
@dita = Dita.all(:id => @id_val)
@dita.each do |var|
%>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="jQuery-TE_v.1.4.0/jquery-te-1.4.0.min.js" charset="utf-8"></script>

  
   <h3><%= var.title %></h3>
   <p><%= var.short_desc %></p>
  <form action="/form2_out" name="<%= var.form_name %>" method="post">
 
  <input type="hidden" name="id_val" value="<%= @id_val %>" />
 

 <table>  
 <tr><td>Form name:</td><td><input type="text" name="form_name" value="<%= var.form_name %>"/></td></tr>
 <tr><td>Title:</td><td><input type="text" name="title" value="<%= var.title %>"/></td></tr>
 <tr><td>Short Description:</td><td><input type="text" name="short_desc" value="<%= var.short_desc %>"/></td></tr>
 <tr><td>text1:</td><td><input type="text" name="text1" value="<%= var.text1 %>" /></td></tr>
 <tr><td>text1n:</td><td><input type="text" name="text1n" value="<%= var.text1n %>" /></td></tr>
 <tr><td>text2:</td><td><input type="text" name="text2" value="<%= var.text2 %>" /></td></tr>
 <tr><td>text2n:</td><td><input type="text" name="text2n" value="<%= var.text2n %>" /></td></tr>
 <tr><td>text3:</td><td><input type="text" name="text3" value="<%= var.text3 %>" /></td></tr>
  <tr><td>text3n:</td><td><input type="text" name="text3n" value="<%= var.text3n %>" /></td></tr>
 <tr><td>text4:</td><td><input type="text" name="text4" value="<%= var.text4 %>" /></td></tr>
 <tr><td>text4n:</td><td><input type="text" name="text4n" value="<%= var.text4n %>" /></td></tr>
 <tr><td>text5:</td><td><input type="text" name="text5" value="<%= var.text5 %>" /></td></tr>
 <tr><td>text5n:</td><td><input type="text" name="text5n" value="<%= var.text5n %>" /></td></tr>

 
 <tr><td>file1:</td><td><input type="text" name="file1" value="<%= var.file1 %>" /></td></tr>
 <tr><td>file1n:</td><td><input type="text" name="file1n" value="<%= var.file1n %>" /></td></tr>
<tr><td>file2:</td><td><input type="text" name="file2" value="<%= var.file2 %>" /></td></tr>
 <tr><td>file2n:</td><td><input type="text" name="file2n" value="<%= var.file2n %>" /></td></tr>
 
 <tr><td>  Category 1:</td><td>
<select name="category1" >
  <option value="<%= var.category1 %>"><%= var.category1 %></option>
  <%= @cat_out %>
</select> 
</td></tr>
<tr><td>
Category 2:</td><td>
<select name="category2" >
  <option value="<%= var.category2 %>"><%= var.category2 %></option>
  <%= @cat_out2 %>
</select>
</td></tr>
 </table>
  
  <textarea name="content" class="jqte-test"><%= var.content %></textarea>
   <input type="submit" value="Submit">
  
   </form>
<%  
end
%>

<br/>
<h3>Code Snipets</h3>
<div id="menu" style="background-color:WhiteSmoke;width:675px;border:2px solid;border-radius:5px;font-size:12px;">
<b>style</b><br />
&lt;style&gt;
	table {style="border-width:1px;border-color:black}
&lt;/style&gt;
<p/>
<b>image</b><br />
&lt;img src="images/rollins.jfif" width="100px"&gt;<p/>
<b>two column table example:</b><br />
&lt;table border="1"&gt;
&lt;tr&gt;&lt;td&gt;&lt;b&gt;heading 1&lt;/b&gt;&lt;/td&gt;td&gt;&lt;b&gt;heading 2&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;cell 1&lt;/td&gt;&lt;td&gt;cell 2&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;
<p />
<b>three column table example:</b><br />
&lt;table border="1"&gt;
&lt;tr&gt;&lt;td&gt;&lt;b&gt;heading 1&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;heading 2&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;heading 3&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;cell 1&lt;/td&gt;&lt;td&gt;cell 2&lt;/td&gt;&lt;td&gt;cell 3&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;
<p />
<b>four column table example:</b><br />
&lt;table border="1"&gt;
&lt;tr&gt;&lt;td&gt;&lt;b&gt;heading 1&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;heading 2&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;heading 2&lt;/b&gt;&lt;/td&gt;&lt;td&gt;&lt;b&gt;heading 4&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt;cell 1&lt;/td&gt;&lt;td&gt;cell 2&lt;/td&gt;&lt;td&gt;cell 3&lt;/td&gt;&lt;td&gt;cell 4&lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;

<p />
<b>topicmap example:</b><br />
&lt;map&gt;<br>&nbsp;&nbsp;&nbsp; &lt;title&gt;DITA work at OASIS&lt;/title&gt;
<br>&nbsp;&nbsp;&nbsp; &lt;topicref href="oasis-dita-technical-committees.dita"&gt;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;topicref href="dita_technical_committee.dita"/&gt;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;topicref href="dita_adoption_technical_committee.dita" /&gt;
<br>&nbsp;&nbsp;&nbsp; &lt;/topicref&gt;
<br>&nbsp;&nbsp;&nbsp; &lt;mapref href"oasis-processes.ditamap"/&gt;<br>&lt;/map&gt;

<p />
<b>bookmap example:</b><br />
&lt;bookmap id="taskbook"&gt;<br />
&lt;booktitle&gt;<br />
&lt;booklibrary&gt;Retro Tools&lt;/booklibrary&gt;<br />
&lt;mainbooktitle&gt;Product tasks&lt;/mainbooktitle&gt;<br />
&lt;booktitlealt&gt;Tasks and what they can do&lt;/booktitlealt&gt;&lt;/booktitle&gt;<br />
&lt;frontmatter&gt;<br />
&lt;booklists>&lt;toc/&gt;&lt;/booklists&gt;<br /> 
&lt;notices href="taskbook/notices.dita"&gt;<br />
&nbsp;&nbsp;&nbsp; &lt;topicref href="taskbook/trademarks.dita"&gt;&lt;/topicref&gt;<br />
&lt;/notices&gt;<br />
&lt;/frontmatter&gt;<br />
&lt;chapter href="taskbook/installing.dita"&gt;<br />
&nbsp;&nbsp;&nbsp; &lt;topicref href="taskbook/installstorage.dita"&gt;<br />
&nbsp;&nbsp;&nbsp; &lt;/topicref&gt;<br />
&lt;/chapter&gt;<br />
&lt;appendix href="taskbook/task_appendix.dita"&gt;&lt;/appendix&gt;<br />
&lt;/bookmap&gt;<br />
</div>



<script>
	$('.jqte-test').jqte();
	//$(".jqte-test").jqte({color: false});
	// $(".jqte-test").jqte({b: true});
	// $(".jqte-test").jqte({b: true});
	//  $(".jqte-test").jqte({button: "SEND"});
	
	
	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});
</script>

<!------------------------------------------------------------ jQUERY TEXT EDITOR ------------------------------------------------------------>




